@media screen and (max-width: 1200px) {

    body{
        grid-template-columns: 90px auto;
    }

    #aside{
        width: 90px;
    }

    .users{
        height: 100vh;
        border-bottom: none;
    }

    .info,
    .user .streamerName,
    .active,
    .red,
    .subscribers{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .photoPortfolio,
    .videoPortfolio{
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            'content content'
            'content content';
    }

    header{
        grid-template-columns: 290px auto ;
    }

    .inputGroup {
        display: none;
    }
}