
html::-webkit-scrollbar {
    width: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;;
}

.areaTitle{
    padding: 5px;
    background: linear-gradient(40deg,#653ca8 , #3c1874);
    color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 15px #2d2d2d;
    font-size: 3em;
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button{
    border: 2px solid #932432;
    box-shadow: 0 0 9px #404040;
    background: #932432;
    border-radius: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    right: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px 15px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    background-color: #283747;
    color: #f3f3f3;
    display: block;
    border: 2px solid #283747;
}

.dropdown-content .selectItem{
    color: #de354c;
    display: flex;
    align-items: center;
}

.selectItem .link:hover{
    background: #f3f3f3;
    color: #3c1874;
}

.selectItem .link{
    color: #f3f3f3;
}
.selectItem i{
    margin-right: 5px;
}