*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
    "header header"
    "aside article"
    "aside footer";
    grid-template-rows: 80px 1fr 1fr;
    grid-template-columns: 300px auto;
    height: 100vh;
    margin: 0;
}

header, article{
    padding: 10px 15px;
}

#pageHeader {
    grid-area: header;
    background: linear-gradient(235.25deg, #741855, #de354c);
    position: fixed;
    box-shadow: 0 0 13px black;
    width: 100%;
}

#pageFooter {
    grid-area: footer;
    height: 100%;
    background: black;
    color: #de354c;
    box-shadow: 0 0 5px black;
}

#mainArticle {
    width: 100%;
    top: 80px;
    height: 100%;
    grid-area: article;
    background: #555555;
}

#aside {
    grid-area: aside;
    width: 300px;
    height: 100%;
    top: 80px;
    background: linear-gradient(#505050, #282828);
    color: white;
    box-shadow: 0 0 3px black;
}
