/*Header*/
header{
    display: grid;
    grid-template-columns: 290px auto 240px;
    grid-template-rows: 60px;
    align-items: center;
    z-index: 10;
}

header .logoTitle{
    position: relative;
    height: 60px;
    width: 200px;
    line-height: 60px;
    font-family: 'Kirang Haerang', cursive;
}

header img {
    float: left;
    width: 60px;
    height: 60px;
    background: none;
    margin-right: 5px;
}
/*logo*/
.logoTitle span{
    font-size: 30pt;
    color: #3c1874;
}

.inputGroup{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

form {
    position: relative;
    width: 300px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.d1{
    color: #f3f3f3;
    position: relative;
    width: 350px;
    height: auto;
    line-height: 30px;
}

.d1 input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: none;
    box-shadow: 0 0 17px #555555;
    border-radius: 15px;
    outline: none;
    background: #F9F0DA;
    color: #283747;
}

.d1 input:focus{
    border: 2px solid #932432;
    box-shadow: 0 0 25px #555555;
}
.d1 button {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    border: none;
    color: #f3f3f3;
    box-shadow: 0 0 7px #000000;
    background: #932432;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
.d1 button:before {
    font-size: 16px;
    color: #F9F0DA;
}

.d1 .fa-microphone,
.fa-bars{
    position: relative;
    color: #f3f3f3;
}

header .iconsGroup{
    margin-left: auto;
    color: #f3f3f3;
}

.iconsGroup div{
    margin-right: 10px;
    margin-left: 10px;
}

/*Aside*/
.aside{
    position: fixed;
}

.aside .users{
    height: 70vh;
    overflow:hidden;
    overflow-y:scroll;
    /*border-bottom: 1px solid #F9F0DA;*/
}

.aside .users::-webkit-scrollbar {
    width: 0;
}

.aside .users:hover::-webkit-scrollbar {
    width: 10px;
}

.aside .users:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 3px;
}

.aside .users:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(180deg, #932432, #3c1874);
}

.userDiv{
    padding: 10px 15px;
}

.userDiv:hover{
    background: #F9F0DA;
    color: #3c1874;
}

.userInfo{
    display: flex;
    width: 100%;
    position: relative;
    height: 60px;
    line-height: 60px;
}

.streamerAvatar {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    border-radius: 50%;
}

.videoInfo .videoTitle,
.videoInfo .streamerName{
    width: 80%;
}

.userInfo .streamerName{
    width: 60%;
}

.videoInfo .videoTitle::selection,
.videoInfo .streamerName::selection,
.streamerName::selection{
    background: #3c1874;
    color: #f3f3f3;
}

.videoTitle{
    font-weight: bold;
    font-size: larger;
}

.videoInfo .videoTitle,
.videoInfo .streamerName,
.userInfo .streamerName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.active {
    border-radius: 50%;
    margin-right: 5px;
    height: 15px;
    width: 15px;
    margin-top: 20px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.active.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}


/**/
.aside .info{
    border-top: 3px solid #555555;
    height: 30vh;
    background: #282828;
    padding: 10px 15px;
}

.infoDiv{
    padding: 10px 15px;
    background: rgba(57, 57, 57, 0.49);
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    height: 15vh;
    text-align: center;
}

.infoDiv p{
    font-size: larger;
    margin-bottom: 2vh;
}

.infoDiv p::selection{
    background: #f3f3f3;
    color: #3c1874;
}
.infoDiv i{
    margin-right: 10px;
    margin-left: 10px;
}

.infoDiv i:hover{
    color: #932432;
}

.infoDiv p:hover{
    color: #de354c;
}

/*Main*/

article{
    width: 100%;
}

/*categoriesPanel*/


/*PhotoPortfolio and VideoPortfolio*/
.photoPortfolio,
.videoPortfolio{
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
            'content content content'
            'content content content';
}

.photoPortfolio{
    grid-template-rows: 1fr 1fr;
}

.videoPortfolio {
    grid-template-rows: 260px 260px 260px;
}

.photoCard,
.videoCard{
    color: #f3f3f3;
    width: 100%;
    height: 100%;
    opacity: .99;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 55px black;
    background: linear-gradient(40deg, #bb3e51, #932432);
}

.videoCard .videoPreview,
.photoCard .photo {
    width: 100%;
    display: block;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.photoCard .photo {
    height: 100%;
}

.videoCard .videoPreview{
    height: 70%;
}

.videoCard .liveStream{
    position: absolute;
    background: rgba(57, 57, 57, 0.49);
    margin: 10px 15px;
    padding: 5px 15px;
    border-radius: 7px;
    top: 0;
    left: 0;
}

.videoCard .viewers,
.videoCard .videoDuration{
    background: rgba(57, 57, 57, 0.49);
    position: absolute;
    top: 50%;
    right: 0;
    margin: 10px 15px;
    padding: 5px 15px;
    border-radius: 7px;
}

.videoCard:before,
.photoCard:before{
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.photoCard:before{
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.95) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%);
    width: 100%;
    height: 50%;
    top: 100%;
}

.videoCard:before{
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.videoCard .caption,
.photoCard .caption {
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

.photoCard .caption{
    height: 50%;
}

.videoCard .caption {
    height: 70%;
    top: 0;
}

.photoCard .caption span {
    display: block;
    opacity: 0;
    position: relative;
    top: 50%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.videoCard .caption span {
    display: block;
    opacity: 0;
    position: relative;
    top: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.photoCard .caption .title {
    line-height: 1;
    font-weight: normal;
    font-size: 18px;
}
.photoCard .caption .hoverIcon {
    line-height: 1.2;
    margin-top: 10px;
}

.videoCard .caption .hoverIcon {
    margin-top: 10px;
}

.photoCard:focus:before,
.photoCard:focus span,
.photoCard:hover:before,
.photoCard:hover span,
.videoCard:focus:before,
.videoCard:focus span,
.videoCard:hover:before,
.videoCard:hover span {
    opacity: 1;
}

.photoCard:focus:before,
.photoCard:hover:before {
    top: 50%;
}

.videoCard:focus:before,
.videoCard:hover:before {
    top: 0;
}

.photoCard:focus span,
.photoCard:hover span {
    top: 0;
}

.videoCard:focus span,
.videoCard:hover span {
    top: 35%;
}

.photoCard:focus .title,
.photoCard:hover .title {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.photoCard:focus .hoverIcon,
.photoCard:hover .hoverIcon,
.videoCard:focus .hoverIcon,
.videoCard:hover .hoverIcon {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}


.videoCard .videoInfo{
    display: flex;
    flex-flow: column wrap;
    height: 30%;
    padding: 10px 15px;
}
/*Footer*/
footer p{
    text-align: center;
    line-height: 80px;
}
